{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="Description" content="Enter your description here"/>
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/materia/bootstrap.min.css"> {% endcomment %}
{% comment %} <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">  {% endcomment %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.6.0/darkly/bootstrap.min.css">
{% comment %} {% bootstrap_css %} {% endcomment %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<title> {% block title %}{% endblock title %} </title>
</head>
<body>
    {% include "components/navbar.html" %}
    <div class="row h-100">
        <div class="col-1">
            {% include "components/navbar-side.html" %}
        </div>
        <div class="col-md-11">
            <div class="container area mt-5">
                {% block content %}
                    
                {% endblock content %}
            </div> 
        </div>
    </div>
    {% bootstrap_javascript jquery='full' %} 
    <script src="{% static 'js/formsUtils.js' %}"></script>
</body>
</html>