{% extends 'base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="d-flex vh-100 w-100 justify-content-center align-items-center" style="position: absolute; top:0; right:0;">
            <div class="col">
                adsds
            </div>
            <div class="col">
                adsds
            </div>
            <div class="col">
                adsds
            </div>
            <div class="col">
                adsds
            </div>
            <div class="col">
                adsds
            </div>
            <div class="col">
                adsds
            </div>
            <div class="col">
                adsds
            </div>
            <div class="col">
                adsds
            </div>
            <div class="col">
                adsds
            </div>
        </div>
    </div>
</div>

{% endblock content %}