{% extends 'base.html' %}
{% block content %}

<h4>Detalles</h4>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo del Prod/Serv</th>
            <th>Nombre del Prod/Serv</th>
            <th>Fech6a Inicial</th>
            <th>Estado</th>
            <th>Observacion</th>
            <th>Existencia</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ object.ID }}</td>
            <td>{{ object.ServicesProductTypeID }}</td>
            <td>{{ object.nameProdServ }}</td>
            <td>{{ object.dateIn }}</td>
            <td>{{ object.stateID }}</td>
            <td>{{ object.observation }}</td>
            <td>{{ object.exists }}</td>
        </tr>
    </tbody>
</table>

<a href="../" class="btn btn-danger">Atras</a>

{% endblock content %}
