{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar-side.css' %}">

<!-- Sidebar -->
<div class="col navbar-side">
    <a href="home" class="item-navbar">Documento</a>
    <a href="states" class="item-navbar">Cliente</a>
    <a href="home" class="item-navbar">Estado</a>
    <a href="states" class="item-navbar">Actividad</a>
    <a href="states" class="item-navbar">Servicios</a>
    <a href="states" class="item-navbar">TipoServ</a>
    <a href="home" class="item-navbar">MovProdServ</a>
    <a href="home" class="item-navbar">TipoMov</a>
</div>
